# The Usual Suspects:
.DS_Store
kube-deploy/kube-deploy.retry
ubuntu-xenial-16.04-cloudimg-console.log

# Directories we don't really need:
kube-deploy/roles/deploy-docker

# Development
.vagrant/
venv/
